### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule start Daftpunk.html
RewriteRule daft-album1 album1.html
RewriteRule daft-album2 album2.html
RewriteRule daft-historia historia.html
RewriteRule daft-zdjecia galeria.html
RewriteRule daft-nagrody nagrody.html