body 
{
/*background-image: url('obrazy/1038860.jpg');*/
color:#ffffff;
font-family: 'Lato', sans-serif;
font-size:20px;

}

.navbar-nav li:hover>.dropdown-menu
{
    display: block;
}


.navbar
{
    min-height: 57px;
    font-size:20px;
    font-weight: bold;
}


#container
{ 
    /*    background-color: aqua; */
    background-image: url(img/Daft_punk.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;

}

.daft {
    object-fit: cover;
}

.start
{ 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    padding: 0;
}


h1
{
    font-size: 44px;
    font-weight: 400;
    color: #39a5f1;
    margin-bottom: 20px;
}


h2
{
    font-size: 32px;
    font-weight: 400;
    
    color: #39a5f1;
    margin-bottom: 20px;
}

p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #2f3362;
}

.authors
{
	text-align: center;
}

.authors img
{
	width: 100%;
	height: auto;
}

.authors figcaption
{
	margin-top: 8px;
    color: #39a5f1;
}

.vidwrapper
{
    width:100%;
    max-width: 1024px;
    margin: 10px auto;
    border: 5px solid #39a5f1;
}

.iframe-container
{
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    border: 5px solid #2f3362;
    height: 0;
    /*
    margin: 0 auto;
    align-content: center;
    */
  }

.iframe-container iframe
{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.album
{
    display: flex;
    justify-content: center;
}

table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
    color:#2f3362;
    
}
th,td {    padding: 5px; }

#demo
{  
    align-self: center;
}


@media (max-width: 625px)
{
	.wpis
	{
		margin: 40px 20px;
		text-align: center;
		font-size: 15px;
	}
	
	.float-left, .float-right
	{
		max-width: 50%;
	}
	
	.blockquote
	{
		font-size: 17px;
	}
	
	.list-group
	{
		text-align: center;
	}
}



#zegar
{
float:left;
font-family: 'Josefine Sans', sans-serif;
font-size: 24px;
}
